.fotorama__wrap {
    background: #f7f7f7;
}

.fotorama__arr {
    color: #c5d700;
}

.fotorama__wrap_mouseover .fotorama__arr:hover,
.fotorama__wrap_mouseover .fotorama__arr_hover {
    color: #42a000;
    text-shadow: gray 0 0 5px, gray 0 0 25px;
}

.fotorama__thumbs_previews {
    background: #f7f7f7;
}

.fotorama__thumbs_previews .fotorama__thumb-border {
    border-color: #c5d700;
}
