.b-social__share {
    display: block;
    overflow: hidden;

    width: 81px;
    height: 18px;

    white-space: nowrap;
    text-indent: 100%;
    background: url(http://cdn2.appsmail.ru/hosting/672330/like.png) 0 0 no-repeat;
}